<h3>Application Approval Page</h3>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Applicant Name: <%= @application.name %></div>
  <div class="card-body">
    <h6 class="card-title">Address: <%= @application.street %></h6>
    <h6 class="card-title"><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></h6>
    <h6 class="card-title">Application Status: <%= @application.status %></h6>
    <p class="card-text"><%= @application.description %></p>
  </div>
  </div>

  <h3>Pets Applied For: </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Breed</th>
        <th scope="col">Adoptable</th>
        <th scope="col">Approve</th>
        <th scope="col">Reject</th>
      </tr>
    </thead>
  <% @application.pets.each do |pet| %>
  <tbody>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.age %></td>
      <td><%= pet.breed %></td>
      <td><%= pet.adoptable %></td>
      <td><%= pet.name %> Rejected</td>
      <td><%= pet.name %> Rejected</td>
    </tr>
    <% end  %>
  </tbody>
</table>
