<% if @not_approved || @pets_rejected %>
<h3>Pets Applied For: </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Breed</th>
      <th scope="col">Adoptable</th>
      <th scope="col">Approve</th>
      <th scope="col">Reject</th>
    </tr>
  </thead>
<% if @pets && @all_approved_pets %>
<% @application.pets.each do |pet| %>
<tbody>
  <tr>
    <td><%= pet.name %></td>
    <td><%= pet.age %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.adoptable %></td>
    <% if pet.adoptable == true %>
    <td><%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "approve", :pet_id => pet.id, :application_id => @application.id, :method => :post }, class: 'btn btn-success' %></td>
    <td><%= button_to "Reject #{pet.name} Adoption Request", "/admin/applications/#{@application.id}", params: { :controller => 'admins', :action => "delete", :reject => pet.id, :application_id => @application.id, :method => :delete }, class: 'btn btn-danger'  %></td>
  </tbody>
</table>
<% end  %>
<% end  %>
<% end  %>
<% end  %>
