<h3>Application Approval Page</h3>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Applicant Name: <%= @application.name %></div>
  <div class="card-body">
    <h6 class="card-title">Address: <%= @application.street %></h6>
    <h6 class="card-title"><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></h6>
    <h6 class="card-title">Application Status: <%= @application.status %></h6>
    <p class="card-text"><%= @application.description %></p>
  </div>
</div>

<h3>Pets Applied For: </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Breed</th>
      <th scope="col">Adoption Status</th>
      <th scope="col">Approve</th>
      <th scope="col">Reject</th>
    </tr>
  </thead>
  <% @application.pets.each do |pet| %>
  <tbody>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.age %></td>
      <td><%= pet.breed %></td>
      <% @application.pet_applications.each  do |app| %>
      <% if app.status == "Pending" && app.pet_id == pet.id && pet.adoptable == false %>
      <td>Pending</td>
      <td>Approved For Adoption</td>
      <td><%= button_to "Reject #{pet.name} Adoption Request", { :controller => 'admins', :action => "reject", :reject => pet.id, :application_id => @application.id }, :method => :patch, class: 'btn btn-danger'  %></td>
      <% elsif app.status == "Pending" && app.pet_id == pet.id %>
      <td>Pending</td>
      <td><%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "reject", :reject => pet.id, :application_id => @application.id }, :method => :patch, class: 'btn btn-success' %></td>
      <td><%= button_to "Reject #{pet.name} Adoption Request", { :controller => 'admins', :action => "reject", :reject => pet.id, :application_id => @application.id }, :method => :patch, class: 'btn btn-danger'  %></td>
      <% elsif app.status == "Rejected" && app.pet_id == pet.id %>
      <td><%= @application.name %> Rejected</td>
      <td>Rejected</td>
      <td>Rejected</td>
    </tr>
    <% end  %>
    <% end %>
    <% end %>
  </tbody>
</table>
