<h1>Application Approval Page</h1>
<h3><%= @application.name %></h3>
<p><%= @application.street %></p>
<p><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p><%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>

<% if @pets %>
  <h3>Pets Applied For: </h3>
  <%= @pets.each do |pet| %>
    <p><%= pet.name %></p>
    <p><%= pet.age %></p>
    <p><%= pet.breed %></p>
    <p><%= pet.adoptable %></p>
    <%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "show", :pet_id => pet.id, :application_id => @application.id, :method => :post }%>
    <%= button_to "Reject #{pet.name} Adoption Request", { :controller => 'admins', :action => "show", :pet_id => pet.id, :application_id => @application.id, :method => :post }%>
  <% end  %>
<% end  %>

<% if @not_approved %>
  <h3>Pets Applied For: </h3>
  <% @not_approved.each do |pet| %>
    <p><%= pet.name %></p>
    <p><%= pet.age %></p>
    <p><%= pet.breed %></p>
    <p><%= pet.adoptable %></p>
    <%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "show", :pet_id => pet.id, :application_id => @application.id, :method => :post }%>
  <% end  %>
<% end  %>

<% if @approved_pets %>
<h3>Pets Approved For: </h3>
    <p><%= @approved_pets.name %></p>
    <p><%= @approved_pets.age %></p>
    <p><%= @approved_pets.breed %></p>
    <p><%= @approved_pets.adoptable %></p>
    <p><%= @application.status %></p>
<% end  %>
