<h3>Application Approval Page</h3>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Applicant Name: <%= @application.name %></div>
  <div class="card-body">
    <h6 class="card-title">Address: <%= @application.street %></h6>
    <h6 class="card-title"><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></h6>
    <h6 class="card-title">Application Status: <%= @application.status %></h6>
    <p class="card-text"><%= @application.description %></p>
  </div>
  </div>

  <h3>Pets Applied For: </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Breed</th>
        <th scope="col">Adoptable</th>
        <th scope="col">Approve</th>
        <th scope="col">Reject</th>
      </tr>
    </thead>
  <% if @pets %>
  <% @application.pets.each do |pet| %>
  <tbody>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.age %></td>
      <td><%= pet.breed %></td>
      <td><%= pet.adoptable %></td>
      <% if pet.adoptable == true %>
      <td><%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "approve", :pet_id => pet.id, :application_id => @application.id, :method => :post }, class: 'btn btn-success' %></td>
      <td><%= button_to "Reject #{pet.name} Adoption Request", "/admin/applications/#{@application.id}", params: { :controller => 'admins', :action => "delete", :reject => pet.id, :application_id => @application.id, :method => :delete }, class: 'btn btn-danger'  %></td>
    </tr>
    <% end  %>
    <% end  %>
  </tbody>
</table>
<% else %>
<% render 'admins/reject' %>
<% end  %>

<% if @not_approved || @pets_rejected %>
  <% @application.pets.each do |pet| %>
  <% if pet.adoptable == true %>
  <h3>Pets Applied For: </h3>
    <p><%= pet.name %></p>
    <p><%= pet.age %></p>
    <p><%= pet.breed %></p>
    <p><%= pet.adoptable %></p>
    <%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "show", :pet_id => pet.id, :application_id => @application.id, :method => :post, :another_pet => true }%>
    <%= button_to "Reject #{pet.name} Adoption Request", { :controller => 'admins', :action => "delete", :reject => pet.id, :application_id => @application.id, :method => :delete } %>
  <% end  %>
  <% end  %>
<% end  %>
