<h3>Application Approval Page</h3>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Applicant Name: <%= @application.name %></div>
  <div class="card-body">
    <h6 class="card-title">Address: <%= @application.street %></h6>
    <h6 class="card-title"><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></h6>
    <h6 class="card-title">Application Status: <%= @application.status %></h6>
    <p class="card-text"><%= @application.description %></p>
  </div>
  </div>

  <h3>Pets Applied For: </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Breed</th>
        <th scope="col">Adoptable</th>
        <th scope="col">Approve</th>
        <th scope="col">Reject</th>
      </tr>
    </thead>
  <% if @pets %>
  <% @application.pets.each do |pet| %>
  <tbody>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.age %></td>
      <td><%= pet.breed %></td>
      <td><%= pet.adoptable %></td>
      <% if pet.adoptable  %>
      <td><%= button_to "Approve #{pet.name}", { :controller => 'admins', :action => "approve", :pet_id => pet.id, :application_id => @application.id, :method => :post }, class: 'btn btn-success' %></td>
      <td><%= button_to "Reject #{pet.name} Adoption Request", params: { :controller => 'admins', :action => "reject", :reject => pet.id, :application_id => @application.id }, :method => :patch, class: 'btn btn-danger'  %></td>
      <% else %>
      <td>Approved</td>
      <td>Approved</td>
      <% end  %>
    </tr>
    <% end  %>
    <% end  %>
  </tbody>
</table>

<% if @application_rejected %>
  <% render 'reject' %>
<% end  %>
