<h1>New Application</h1>

<%= form_tag("/applications/:id", method: 'post') do %>
<% if @application.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h6><%= pluralize(@application.errors.count, "Error") %>
    Prohibited this Application from being Created: </h6>
    <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>
  <p><%= text_field_tag :name, nil, placeholder: "Your Full Name" %></p>
  <p><%= text_field_tag  :street, nil, placeholder: "Street" %></p>
  <p><%= text_field_tag  :city, nil, placeholder: "City" %></p>
<p><%= text_field_tag  :state, nil, placeholder: "State" %></p>
<p><%= text_field_tag  :zip_code, nil, placeholder: "Zip Code" %></p>
<p><%= text_field_tag  :description, nil, placeholder: "Brief Description About Yourself" %></p>
<%= submit_tag("Create Application", method: :post, class: "btn btn-primary") %><br><br>
<% end %>
