<h1>New Application</h1>

<%= form_tag("/applications/:id", method: 'post') do %>
<% if @application.errors.any? %>
<div class="alert alert-danger" role="alert">
  <h6><%= pluralize(@application.errors.count, "Error") %>
    Prohibited this Application from being Created: </h6>
    <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>
  <label for="name"><%= label_tag "Name" %><br/></label>
  <p><%= text_field_tag :name %></p>
  <label for="steet"><%= label_tag  :street %><br/></label><br />
  <p><%= text_field_tag  :street %></p>
<label for="city"><%= label_tag "City" %><br/></label><br />
  <p><%= text_field_tag  :city %></p>
  <label for="state"><%= label_tag "State" %><br/></label><br />
<p><%= text_field_tag  :state %></p>
<label for="state"><%= label_tag "Zip Code" %><br/></label><br />
<p><%= text_field_tag  :zip_code %></p>
<label for="state"><%= label_tag "Description" %><br/></label><br />
<p><%= text_field_tag  :description %></p>
<%= submit_tag("Create Application", method: :post, class: "btn btn-primary") %><br><br>
<% end %>
