<h1>New Application</h1>
<br>
<%= form_tag("/applications/:id", method: 'post') do %>
  <p>
    <%= label_tag "Name" %><br />
    <%= text_field_tag :name %>
  </p>
  <p>
    <%= label_tag "Street Adress" %><br />
    <%= text_field_tag  :street %>
  </p>
  <p>
  <%= label_tag "City" %><br />
  <%= text_field_tag  :city %>
</p>
<p>
  <%= label_tag "State" %><br />
  <%= text_field_tag  :state %>
</p>
<p>
  <%= label_tag "Zip Code" %><br />
  <%= text_field_tag  :zip_code %>
</p>
<p>
  <%= label_tag "Description" %><br />
  <%= text_field_tag  :description %>
</p>
  <p>
    <button type="submit" class='btn btn-success'><%= submit_tag("Create Application") %></button>
  </p>
<% end %>
