<%= form_for(@application) do |form| %>
  <p>
    <%= form.label "Name" %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label "Street Adress" %><br />
    <%= form.text_area :street %>
  </p>
  <p>
  <%= form.label "City" %><br />
  <%= form.text_field :city %>
</p>
<p>
  <%= form.label "State" %><br />
  <%= form.text_field :state %>
</p>
<p>
  <%= form.label "Zip Code" %><br />
  <%= form.text_field :zip_code %>
</p>
<p>
  <%= form.label "Description" %><br />
  <%= form.text_field :description %>
</p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
