<h2><%= @application.name %></h2>
<p><%= @application.street %></p>
<p><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p><%= @application.description %></p>
<p>Application Status: <%= @application.status %></p>


<%= form_tag("/applications/#{@application.id}?seach=name", method: :get, local: true) do %>
  <%= label_tag(:search, "Add a Pet to this Application") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag('Submit') %>
<% end %>

<% if @pets %>
<%= @pets.each do |pet| %>
<h2>Name: <%= pet.name %></h2>
<p>Age: <%= pet.age %></p>
<p>Breed: <%= pet.breed %></p>
<p>Adoptable: <%= pet.adoptable %></p>
<% end %>
<% end %>


{:controller => "pet_applications", :action => "update", pet.id => pet.id, application_id => @application.id, method: :patch }
